{% extends 'base.html.twig' %}

{% block body %}
<div class="content links">
    <a href="{{path('app_potd')}}">Player of the day</a>
    <a href="{{path('app_streak')}}">Streak</a>
</div>
{% endblock %}
